.foo{
    background-image: url('../assets/images/joshua-sortino-XMcoTHgNcQA-unsplash.jpg');
    background-size: cover;
}

body{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 6fr 2fr;
    padding:10px;
    color: white;
}
label{
    margin-left:15px;
}
input{
    border:0;
    text-align: center;
    border-bottom:2px solid white;
    background: transparent;
}
input:focus{
    outline: none;
}
#top{
    display: flex;
    /*border: 1px solid black;*/
}
#top-left{
    display: flex;
    flex-direction: column;
    margin-left:25px;
    margin-right:5px;
    padding:25px;
}
#top-right{
    width:10rem;
    padding:10px;
    font-weight:bold;
}
#info{
    display: flex;
    flex-direction: column;
}
#top-right{
    margin-top:50px;
}
#weekly{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#weekly{
    /*border:1px solid black;*/
    grid-column: 1/-1;
}
#hourly{
    /*border:1px solid black;*/
    display: grid;
    min-width:20rem;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}
#hourly div{
    /*border:1px solid black;*/
    text-align: center;
}
#weekly img{
    max-width:80px;
    max-height:80px;
}