
.foo{
    background-size: cover;
    
    background-image: url('../assets/images/ken-cheung-KonWFWUaAuk-unsplash.jpg');
}

body{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 6fr 2fr;
    padding:10px;
    color: rgb(251, 251, 251);
}
label{
    margin-left:15px;
}
#nameCity{
    font-size:50px;
}
input{
    border:0;
    text-align: center;
    border-bottom:2px solid white;
    background: transparent;
    color:white;
}
input:focus{
    outline: none;
    color:white;
}
input::placeholder{
    color:white;
}
#top{
    display: flex;
    /*border: 1px solid black;*/
}
#top-left{
    display: flex;
    flex-direction: column;
    margin-left:25px;
    margin-right:5px;
    padding:25px;
}
#top-right{
    width:10rem;
    padding:10px;
    font-weight:bold;
}
#info{
    display: flex;
    flex-direction: column;
}
#top-right{
    margin-top:50px;
}
#weekly{
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#weekly{
    /*border:1px solid black;*/
    grid-column: 1/-1;
}
#hourly{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#hourly h2{
    margin-bottom:40px;
}
#hrTemps{
    visibility: hidden;
}

.active{
    background-color: rgb(122, 78, 233);
}

#top-buttons{
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button{
    width:2rem;
    font-size: 20px;
    margin:5px;
    border: 0.5px solid black;
    color: white;
    background-color: rgb(165, 137, 237);
}
button:hover{
    background-color: rgb(122, 78, 233);
}
button:active{
    background-color: rgb(90, 30, 242);
}

#form{
    visibility: hidden;
}

#hours{
    /*border:1px solid black;*/
    display: grid;
    min-width:20rem;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}
#hours div{
    /*border:1px solid black;*/
}
#weekly img{
    max-width:80px;
    max-height:80px;
}

@media only screen and (max-width: 850px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    #weekly{
        display: flex;
        flex-direction: column;
    }
}